﻿
@{
    ViewData["Title"] = "About";

}

<h1>Json 練習</h1>
<ul id="ul1"></ul>
<table id="table1" class="table table-striped table-hover">
    <thead>
        <tr>
            <td>姓名</td>
            <td>年資</td>
            <td>薪水</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Styles{
    <style>
        

    </style>
}


@section Scripts{
    <script>
        //JSON格式 [ 陣列 ] { 物件 } //物件不會有lengh屬性

        // const emp = {"id":1,"name":"Jack","email":"Jack@gmail.com"}
        //物件.屬性
        //  console.log(emp.id); //1
        ////物件["屬性"]
        //console.log(emp["name"]); //Jack
        //--------------
        //const aMail = "email"      //當屬性名稱為變數時，使用[""]
        //console.log(emp[aMail]); //Jack@gmail.com

        //const datas = ["a","b","c"]
        //console.log(datas[0])  //a
        const datas = [
            { "id": 1, "name": "Jack", "email": "Jack@gmail.com", "phone": ["02-11112222", "0911222333"] },
            { "id": 2, "name": "Mary", "email": "Mary@gmail.com", "phone": ["02-11112222", "0911222333"] },
            { "id": 3, "name": "Tom", "email": "Tom@gmail.com", "phone": ["02-11112222", "0911222333"] }
        ]

        //datas => array
        //datas[2] => { "id": 3, "name": "Tom", "email": "Tom@gmail.com" } object
        //datas[2].email => Tom@gmail.com
        //datas[2].phone => ["02-11112222","0911222333"] array
        //datas[2].phone[1] =>0911222333
        //console.log(datas[2].email);
        //        console.log(datas[2].phone[1]);
        //for( ; ; )
        //for(let i=0,max=datas.length;i<max;i++){
        //            console.log(datas[i].id);
        //            console.log(datas[i].name);
        //            console.log(datas[i].email);
        //            console.log(datas[i].phone[0]);
        //            console.log(datas[i].phone[1]);
        //}


        const emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };


        //console.log(emp.employees[0].name);
        for (let i = 0, max = emp.employees.length; i < max; i++) 
        {
            console.log(emp.employees[i].name);
            console.log(emp.employees[i].workYears);
            console.log(emp.employees[i].salary);
        }


        //const myUl = document.querySelector('#ul1'); //取得<ul1>

        //const emps = emp.employees.map(emp => `<li>${emp.name}</li>`)
        //myUl.innerHTML = emps.join("");

        const tb = document.querySelector('#table1>tbody');

        const emps = emp.employees.map(employee => {
            //解構賦值
            const { name, workYears, salary } = employee;  //{ "name": "Tom", "workYears": 3, "salary": 35000 }
            return (
                ` <tr>
                     <td>${name}</td>
                     <td>${workYears}</td>
                     <td>${salary}</td>
                 </tr>
                `
            )
        })
        tb.innerHTML = emps.join("");

    </script>
}